doctype html
html
	head
		meta(charset="UTF-8")
		title Тестовое задание
		link(rel="stylesheet", href="css/styles.css")
		link(rel="stylesheet", href="js/lib/bootstrap/dist/css/bootstrap.min.css")
		
	body(ng-app="app")
		div(ui-view)
		script(src="js/lib/angular/angular.min.js", type="text/javascript")
		script(src="js/lib/highcharts/highstock.js", type="text/javascript")
		script(src="js/lib/highcharts-ng/dist/highcharts-ng.min.js", type="text/javascript")
		script(src="js/lib/angular-ui-router/release/angular-ui-router.min.js", type="text/javascript")
		script(src="js/lib/angular-websql/angular-websql.min.js", type="text/javascript")
		script(src="js/lib/jquery/dist/jquery.min.js", type="text/javascript")
		script(src="js/lib/bootstrap/dist/js/bootstrap.min.js", type="text/javascript")
		script(src="js/app.js", type="text/javascript")