div(ui-view="graph", class="app-graph-container")

div(class="app-toolbar-container")
	div(class="app-toolbar")
		span
			label(for="x") X:
			input(type="number", ng-model="coords.x", class="form-control" id="x")

		span
			label(for="y") Y:
			input(type="number", ng-model="coords.y" class="form-control" id="y")

		input(type="button", value="Добавить", class="btn btn-success", ng-click="insert(coords.x, coords.y);")

div(ui-view="table", class="app-table-container")