table(class="table")
	thead
		tr
			th X
			th Y
			th Действие
	tbody
		tr(ng-repeat="item in items")
			td {{ item.x }}
			td {{ item.y }}
			td
				input(type="button", class="btn btn-warning" , value="Удалить", ng-click="delete(item.id);")