.app-graph-container, .app-table-container, .app-toolbar-container {
	padding: 5px 0;
}

.app-graph-container {
	highchart {
		> div {
			margin: 0 auto;
		}
	}
}

.app-toolbar-container {
	width: 600px;
	margin: 0 auto;

	.app-toolbar {
		display: flex;
		justify-content: space-around;

		> span, label {
			margin: 0 10px;
		}
		
		input {
			width: 100px;
			display: inline-block !important;
		}
	}	
}



.app-table-container {
	margin: 0 auto;
	
	width: 400px;

	table {
		width: 100%;
		
		td, th {

		}
	}
}